@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@import "tailwindcss";

body {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  background-color: #68a7ff;
  background-image: url("/wallpaper-light.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@theme {
  --font-georama: "Georama", sans-serif;
  --font-roboto: "Roboto Mono", monospace;
  --breakpoint-3xl: 1920px;
}

@layer base {
  mark {
    @apply bg-yellow-200/70 text-yellow-950 rounded-sm px-1 py-px;
  }

  body {
    /* default text color */
    @apply text-gray-800;
  }

  main {
    @apply w-dvw h-dvh overflow-hidden;
  }

  nav {
    @apply h-10 flex justify-between items-center bg-white/10 backdrop-blur-3xl px-5 select-none;

    .hover-effect {
      @apply px-3 py-1 hover:bg-white/20 rounded-full transition-colors cursor-pointer active:bg-white/40;
    }

    div {
      @apply flex items-center max-sm:w-full max-sm:justify-center gap-5;

      &:last-child {
        @apply max-sm:hidden;
      }
    }

    ul {
      @apply flex items-center gap-0 max-sm:hidden;

      p {
        @apply text-sm cursor-pointer hover:underline transition-all;
      }
    }

    time {
      @apply text-sm font-medium text-black;
    }
  }
}

@layer components {
  /* liquid glass background effect for control center widgets */
  .liquid-glass {
    @apply backdrop-blur-md border-2 border-white/20 hover:backdrop-blur-3xl transition-all duration-120 hover:scale-104;
  }
}
